<html>
    <head>

    </head>

    <body>
        <h1>EigaMovie</h1>
        <h3>Welcome <span id="uname"></span></h3>

     <style>
        #title{
            display: none;
        }
     </style>
        <script src="../js/jquery-3.5.0.min.js"></script>
        <script src="js/customer.js"></script>
        <section class="profile">

        </section>
       
       <a href="/views/index.html" class="logoutlink">Logout</a>

       <a href="/favourite">View Favourite</a>

         <a href="/history">View History List</a>

        <form action="/search" method="GET">
            <input type="text" name="keyword" id="keyword">
            <input type="submit" id="get_btn" value="Search">
        </form>

       
        <section class="movies">
            <h2>Movie List</h2>
            <table border="1px black"  class="movielist">
                <tr>
                    <th>Title</th>
                    <th>Description</th>
                    <th>Genre</th>
                    <th>Language</th>
                    <th>Ranking</th>
                    <th>Running Time</th>
                </tr>
              
            </table>

        </section>

        <div class="statusMessage"></div>
        <script>
            $(document).ready(function(){
                $.ajax({
                    url: "/movies",
                    method: "get"
                })
                .done(
                    function(data){
                    
                        data.forEach(function(movie)
                        {
                            $('.movielist').append("<tr> <td>  <a href='/moviepage?id="+movie._id+"'>"+ movie.title + "</a> </td> <td>"+ movie.description + "</td> <td>"+ movie.genre+ "</td> <td>"+ movie.language + "</td> <td>" + movie.ranking+ "</td> <td>" + movie.runningtime +
                                "</td><td> <form onsubmit='return history();'> <input type='text' id='title' value='"+movie.title+"'> <button type='submit'>Add to history </form> </td>" + 
                                "<td> <form onsubmit='return favourite();'> <input type='text' id='title' value='"+movie.title+"'> <button type='submit'>Add to favourite </form> </td>");
                          
                    }
                )}
                )}
            );

            function history(){
               var moviename = $("#title").val();
              
            $.ajax({
                url: "/history?token="+ sessionStorage.authToken,
                method: "post",
                data: {movie: moviename
                        }
            }
            ).done(
            function (data) {
               alert("Movie successfully added to the history list!");
               console.log(data);
            }
        ).fail(
            function (err) {
                alert("Unable to add new movie to the history list")
                console.log(err);
            }
        );
        return false;
    }

    function favourite(){
               var moviename = $("#title").val();
              
            $.ajax({
                url: "/favourite?token="+ sessionStorage.authToken,
                method: "post",
                data: {movie: moviename
                        }
            }
            ).done(
            function (data) {
               alert("Movie successfully added to favourite!");
               console.log(data);
            }
        ).fail(
            function (err) {
                alert("Unable to add to favourite")
                console.log(err);
            }
        );
        return false;
    }
          
            $(document).ready(function(){
                $(".logoutlink").click(function(e){
                    e.preventDefault();

                    $.ajax({
                        url: "/logout?token="+sessionStorage.authToken,
                        method: "get"
                    })
                    .done(function(data){
                        sessionStorage.removeItem("authToken");
                        window.location.href="/";
                    })
                    .fail(function(err){
                        console.log(err.responseText);
                    })
                })
            })
        </script>
    </body>
</html>