<html>
    <head>

    </head>

    <body>
        <h1>EigaMovie</h1>

        
        <section class="moviepage"> 
            <h3 id="title"></h3>
        </section>
        <script src='../js/jquery-3.5.0.min.js'></script>
        <script>
            var movieId = 0;
        $(document).ready(function() {
    var urlParams = new URLSearchParams(window.location.search);
    movieId = urlParams.get('id');

    $.ajax({
        url: "/movie/" + movieId,
        method: "get"
    }).done(
        function (data) {
         $("#title").append(data.title);
         $(".moviepage").append(data.description);

        }
    ).fail(
        function (err) {
            console.log(err.responseText);
        }
    );

});



        </script>
        </body>
        
        </html>