<html>
    <head>
        <title>Payment</title>
    </head>
    <body>
        <h1>Payment</h1>

        <br>
        <section id="editPayment">
            <form onsubmit=" return editPayment()">
                <label for="email">Email:</label>
                <input type="email" id="editemail" name="email"><br><br>
                <label for="mobilenumber">Mobile Number:</label>
                <input type="number" id="editmobilenumber" name="mobilenumber"><br><br>
                <label for="creditcard">Credit Card Number:</label>
                <input type="text" id="editcreditcard" name="creditcard"><br><br><br>
                <button type="submit">Proceed to Checkout</button>
            </form>
        </section>
        
        <script src='../js/jquery-3.5.0.min.js'></script>
    </body>
</html>