<html>
    <head>
        <link rel="stylesheet" href="">
        <title>Profile Page</title>
    </head>
    <body>
        <h1>Profile Page</h1>

        <section class="profilepage">
            <label for="username">Username:</label><br>
              
                <label for="email">Email:</label>
               <br>
                <label for="mobilenumber">Mobile Number:</label>
               <br>
                <label for="creditcard">Credit Card Number:</label>
               <br><br>
        </section>

        <form action="/profile" method="put">
            <input type="submit" value="Update Profile">
        </form>
        <script src='../js/jquery-3.5.0.min.js'></script>
        <script src="../js/profile.js"></script>
    </body>
</html>