<html>
    <head>
        <title>Profile Page</title>
    </head>
    <body>
        <h1>Profile Page</h1>

        <section class="profilepage">
            <label for="username">Username:<span id="username"></span></label><br>
              
                <label for="email">Email:<span id="email"></span></label>
               <br>
                <label for="mobilenumber">Mobile Number:<span id="mobilenumber"></span></label>
               <br>
                <label for="creditcard">Credit Card Number:<span id="creditcard"></span></label>
               <br><br>
        </section>

        <section>
            <button id="editBtn">Edit Profile</button>
        </section>
        <br>
        <section id="editNewProfile">
            <form onsubmit=" return editProfile()">
                <label for="username">Username:</label>
                <input type="text" id="editusername" name="username"><br>
                <label for="email">Email:</label>
                <input type="email" id="editemail" name="email"><br>
                <label for="mobilenumber">Mobile Number:</label>
                <input type="number" id="editmobilenumber" name="mobilenumber"><br>
                <label for="creditcard">Credit Card Number:</label>
                <input type="text" id="editcreditcard" name="creditcard"><br>
                <label for="password">Password:</label>
                <input type="password" id="editpassword" name="password"><br>
                <button type="submit">Update</button>
            </form>
        </section>
        
        <script src='../js/jquery-3.5.0.min.js'></script>
        <script src="js/profile.js"></script>
        <script>
             $("#editNewProfile").hide();
            $("#editBtn").click(function () {
             $("#editNewProfile").show();
             });
        </script>
    </body>
</html>