<html>
    <head>
        <link rel="stylesheet" href="">
        <title>Profile Page</title>
    </head>
    <body>
        <h1>Profile Page</h1>

        <section class="profilepage">
            <label for="username">Username:<span id="username"></span></label><br>
              
                <label for="email">Email:<span id="email"></span></label>
               <br>
                <label for="mobilenumber">Mobile Number:<span id="mobilenumber"></span></label>
               <br>
                <label for="creditcard">Credit Card Number:<span id="creditcard"></span></label>
               <br><br>
        </section>

        <!-- <form action="/profile" method="put">
            <input type="submit" value="Update Profile">
        </form> -->
        <script src='../js/jquery-3.5.0.min.js'></script>
        <script src="js/profile.js"></script>
    </body>
</html>