<html>
    <head>

    </head>

    <body>
        <h1>EigaMovie</h1>

        <form action="/search" method="POST">
            <input type="text" name="title" id="title">
            <input type="submit" id="get_btn" value="Search">
        </form>

        <section class="movies">
            <h2>Movie List</h2>
            <table border="1px black"  class="movielist">
                <tr>
                    <th>Title</th>
                    <th>Description</th>
                    <th>Genre</th>
                    <th>Language</th>
                    <th>Ranking</th>
                    <th>Running Time</th>
                </tr>
              
            </table>
        </section>
        <script src="../js/jquery-3.5.0.min.js"></script>
        <script src="../js/jquery-3.5.0.min.js"></script>

    </body>
</html>