<html>
    <head>

    </head>

    <body>
        <h1>EigaMovie</h1>


        <section class="movies">
            <h2>Movie List</h2>
            <table border="1px black"  class="MovieInfo">
                <tr>
                    <th>Title</th>
                    <th>Description</th>
                    <th>Genre</th>
                    <th>Language</th>
                    <th>Ranking</th>
                    <th>Running Time</th>
                </tr>
              
            </table>
        </section>
        <script src="../js/jquery-3.5.0.min.js"></script>
        <script>
            $(document).ready(function(){
                $(".get_btn").click(function(e){
                $.ajax({
                    url: "/search",
                    method: "post"
                })
                .done(
                    function(data){
                       
                        data.forEach(function(movie)
                        {
                            $('.MovieInfo').append("<tr> <td>"+ movie.title + "</td> <td>"+ movie.description + "</td> <td>"+ movie.genre+ "</td> <td>"+ movie.language + "</td> <td>" + movie.ranking+ "</td> <td>" + movie.runningtime + "</td> <tr>");
                           
                        })
                    }
                )
            }
        )}
            )
    
        </script>

    </body>
</html>